<configuration>
    <appender name="STDOUT_FILE" class="ch.qos.logback.core.FileAppender">
        <file>queries.log</file>
        <encoder>
            <patter>%d{HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n</patter>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>INFO</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
    </appender>
    <appender name="STDERR_FILE" class="ch.qos.logback.core.FileAppender">
        <file>errors.log</file>
        <encoder>
            <patter>%d{HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n</patter>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>ERROR</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
    </appender>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <file>queries.log</file>
        <encoder>
            <patter>%d{ISO8601} [%thread] %-5level %logger{36} - %msg%n</patter>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>DEBUG</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
    </appender>

    <root level="debug">
        <appender-ref ref="STDERR_FILE" level="error" />
        <appender-ref ref="STDOUT_FILE" level="info" />
        <appender-ref ref="STDOUT" level="debug" />
    </root>
</configuration>